[Unit]
Description=HOMEd Matter Service

[Service]
ExecStart=/usr/bin/homed-matter
Environment=LD_LIBRARY_PATH=/usr/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
